<header>
  <!--Barra de navegacion:-->
  <div class="barraNavegacion">

    <!--Logo con router:-->
    <div class="espacio-izquierda flex " [routerLink]="['/main']">
      <img class="logo" src="../../assets/logo_blanco.png">
    </div>

    <div class="espacio-medio">
    </div>

    <div class="espacio-derecha flex">
      <!--Dropdown con router a login y register:-->
      <div class="persona iconos">
        <a [routerLink]="['/']"></a>
      </div>
      <div class="rankings iconos">
        <a [routerLink]="['/']"></a>
      </div>
      <div class="dropbtn dropdown iconos">
        <div class=" dropdown-content flex">
          <br>

          <div class="rutas flex"><a [routerLink]="['/login']" style="text-decoration: none;"><span
                class=" opcionesAuth">Loguearse</span></a>
          </div>
          <br>
          <div class="rutas flex"> <a [routerLink]="['/registro']" style="text-decoration: none;"><span
                class=" opcionesAuth">Registrarse</span></a>
          </div>

          <br>
        </div>
      </div>
    </div>

  </div>
</header>
