/*Atributos de la barra de navegacion:*/
.barraNavegacion {
  background-color: rgba(255, 255, 255, 0.966);
  min-height: 90px;
  max-height: 110px;
  position: absolute;
  width: 100%;
  display: inline-flex;
  z-index: 5;
  caret-color: transparent;
  border-bottom: solid rgba(0, 0, 0, 0.897) 4px;
}

/*Compartimentacion de la barra de navegacion:*/
.espacio-izquierda {
  justify-content: left;
  min-width: 30%;
}

.espacio-medio {
  min-width: 40%;
}

.espacio-derecha {
  justify-content: right;
  min-width: 30%;
  padding-right: 1.4em;
}

/*Desplegable:*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: medium;
  display: none;
  border: 1px solid black;
  top: 100% !important;
  right: 10% !important;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Boton que abre un desplegable con varias opciones:*/
.dropbtn {
  background-image: url(../../assets/opciones.png);
}
.persona {
  background-image: url(../../assets/usuario.png);
}
.rankings {
  background-image: url(../../assets/analytics.png);
}

.iconos {
  margin-left: 2.8em;
  min-height: 40px;
  min-width: 40px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

/*span del desplegable:*/
.opcionesAuth {
  font-size: large;
}

/*Logo:*/
.logo {
  width: 140px;
  padding-top: 0.6em;
  padding-left: 0.6em;
  background-size: cover;
  background-position: center;
}


@media (min-width: 801px) {
  /*Logo:*/
  .logo {
    width: 240px;
  }
}


@media (min-width: 220px) and (max-width: 300px) {

  .logo {
    width: 100px;
  }
  .espacio-derecha{
    margin-right: -1em;
  }
  .iconos{
    margin-left: 1em;
    margin-top: 0.4em;
    min-width: 30px;
    min-height: 30px;
  }
}
