<div class="container ">

<ul class="tabla-titulo">
  <li class="tabla-header">
    <div class="col col-1">nr.</div>
    <div class="col col-2">nombre</div>
    <div class="col col-3">fecha creacion</div>
  </li>
</ul>

  <ul class="tabla-cuerpo">
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">1</div>
      <div class="col col-2" data-label="Nombre">Tienda 360</div>
      <div class="col col-3" data-label="Fecha Creacion">22/12/2021</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">2</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">3</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">4</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">5</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">6</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
    <li class="tabla-fila">
      <div class="col col-1" data-label="Nr.">6</div>
      <div class="col col-2" data-label="Nombre">Gamifika</div>
      <div class="col col-3" data-label="Fecha Creacion">10/02/2022</div>
    </li>
  </ul>
</div>
