<div class="total">
  <app-header></app-header>
  <div class="caja-principal">

    <div class="caja-izquierda">

      <div class="caja-foto-nombre flex">
        <div class="caja-foto flex">

        </div>
        <div class="caja-nombre">
          <h3>"username"</h3>
          <p>Profesor</p>
        </div>
      </div>

      <div class="caja-datos-cambiar flex">

        <div class="caja-inputs">
          <p class="pes">Nombre</p>
          <p class="pes">Apellidos</p>
          <p class="pes">Email</p>
          <p class="pes">Centro</p>
          <p class="pes">Contrasena</p>

        </div>
      </div>
    </div>

    <div class="caja-derecha">

      <div class="caja-ranking flex">

        <h2 class="flex">RANKING</h2>
      </div>
      <div class="caja-ranking-iconos flex">
        <h2 class="flex">FUNCIONALIDADES RANKING</h2>

      </div>

    </div>
  </div>
</div>
