<div class="flex distancia-1em-top">
  <div class="total">
    <app-header></app-header>
    <div class="flex">
      <div class="caja-principal">
        <div class="caja-izquierda">
          <div class="caja-foto-nombre flex ">
            <img src="{{account.img}}" alt="">
            <div class="caja-foto flex distancia-1em-top">

            </div>
            <div class="caja-nombre">
              <h3>{{account.username}}</h3>
              <ng-template #isProfesor>
              <p>Profesor</p>
          </ng-template>
              
            </div>
          </div>

          <div class="caja-datos-cambiar grid flex">
            <div class="caja-inputs distancia-2em">
              <p class="pes">Nombre: {{account.name}}</p>
              <p class="pes">Apellido:{{account.cognom}}</p>
              <p class="pes">Email:{{account.mail}}</p>
              <p class="pes  distancia-1em">Centro: {{account.option}}</p>
              <div class="flex">
                <button class="boton-cambiar-contra">Cambiar Contrasena</button>
              </div>
            </div>
          </div>
        </div>

        <div class="caja-derecha">
          <app-listar-rankings class="caja-ranking"></app-listar-rankings>

          <div class="caja-ranking-iconos flex">

            <div class="iconos anadir">
              <a [routerLink]="['/']"></a>
            </div>
            <div class="iconos editar">
              <a [routerLink]="['/pagina']"></a>
            </div>
            <div class="iconos borrar">
              <a [routerLink]="['/']"></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
