.hiper-link {
  color: rgb(46, 44, 44);
  font-size: large;
}

.parte-arriba {
  caret-color: transparent;
}
.caja-extras {
  caret-color: transparent;
}

.distancia-05em {
  padding-bottom: 0.5em;
}
.distancia-1em {
  padding-bottom: 1em;
}
.distancia-2em {
  padding-bottom: 2em;
}

.distancia-3em {
  padding-bottom: 3em;
}
.prueba{
 width: 50px !important;
 height: 50px !important;
}

.caja-izquierda{
  border: 1px solid black;
  justify-self: left;
  position: absolute;
}
.caja-derecha{
  border: 1px solid black;
  justify-self: right;
  background-color: red;
  position: absolute;
}

.caja-foto-nombre{
width: 100%;
height: 50%;
display: grid;
background-color: yellow;
}

.caja-datos-cambiar{
  width: 100%;
  height: 50%;
  background-color: rgb(136, 136, 223);
}

.caja-foto{
  width: 20vh;
  height: 20vh;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%;
}
.caja-nombre{
  width: 20vh;
  height: 7vh;
  display: grid;
  justify-items: center;

  border-radius: 5px;
  border: 1px solid black;
  background-color: cyan;
}

/*MEDIA PARA RESPONSIVE:*/
@media (min-width: 320px) {
  .caja-principal {
    margin-top: 6em;
    display: grid;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 50vh;
    height: 80vh;
    transition: width 0.5s ease;
  }
  .inputs {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 48px;
    width: 220px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 1;
  }
}

@media (min-width: 220px) and (max-width: 320px) {
  .prueba{
    background-color: blue;
      }
  .caja-principal {
    margin-top: 6em;
    display: grid;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 40vh;
    height: 80vh;
    transition: width 0.5s ease;
  }

  .caja-izquierda{
    display: inline-flex;
    width: inherit;
     height: 40vh;
  }

  .caja-derecha{
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }

  .caja-foto-nombre{
    width: 50%;
    height: 100%;
    background-color: yellow;
    }

    .caja-datos-cambiar{
    width: 50%;
    height: 100%;
    background-color: blue;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  .caja-principal {
    width: 43vh;
  }

  .caja-izquierda{
    display: inline-flex;
    width: inherit;
     height: 40vh;
  }

  .caja-derecha{
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }

  .caja-foto-nombre{
    width: 50%;
    height: 100%;
    background-color: yellow;
    }

    .caja-datos-cambiar{
    width: 50%;
    height: 100%;
    background-color: blue;
    }

}

@media (min-width: 480px) and (max-width: 600px) {
  .caja-principal {
    width: 55vh;
  }
  .caja-izquierda{
    display: inline-flex;
    width: inherit;
     height: 40vh;
  }

  .caja-derecha{
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }

  .caja-foto-nombre{
    width: 50%;
    height: 100%;
    background-color: yellow;
    }

    .caja-datos-cambiar{
    width: 50%;
    height: 100%;
    background-color: blue;
    }

}

@media (min-width: 600px) and (max-width: 801px) {
  .caja-principal{
    background-color: rgb(234, 0, 255);
      }
      .caja-principal {
        width: 62vh;
      }

      .caja-izquierda{
        width: 24.8vh;
    height: inherit;
      }

      .caja-derecha{
        width: 37.2vh;
    height: inherit;
      }

}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .caja-principal {
    width: 64vh;
  }

  .caja-izquierda{
    justify-self: left;
    width: 25.6vh;
    height: inherit;
    position: absolute;
  }
  .caja-derecha{
    justify-self: right;
    width: 38.4vh;
    height: inherit;
    position: absolute;
  }
}

@media (min-width: 980px) and (max-width:1024px){
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .caja-principal {
    width: 110vh;
      }
      .caja-izquierda{
        width: 44vh;
      }
      .caja-derecha{
        width: 66vh;
      }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .prueba{
    background-color: rgb(0, 45, 245);
      }
  .caja-principal {
    width: 105vh;
    height: 80vh;
  }
  .caja-izquierda{
    width: 42vh;
  }
  .caja-derecha{
    width: 63vh;
  }
}


@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .prueba{
    background-color: rgb(251, 255, 0);
      }
  .caja-principal {
    width: 130vh;
    height: 80vh;
  }

.caja-izquierda{
  width: 52vh;
}
.caja-derecha{
  width: 78vh;
}

}
