<div class="flex distancia-1em-top">
  <div class="total">
    <app-header></app-header>
    <div class="flex">
      <div class="caja-principal">
        <div class="caja-izquierda">
          <div class="caja-foto-nombre flex ">
            <div class="caja-foto flex distancia-1em-top">
              <img class="usuario-imagen-perfil" src="{{account.img}}" alt="">
            </div>
            <div class="caja-nombre">
              <h3>@{{account.username}}</h3>
                <div *ngIf="account.tipo; else isProfesor">
                  <p>Alumno</p>
                </div>
                <ng-template #isProfesor>
                  <p>Profesor</p>
                </ng-template>
            </div>
          </div>

          <div class="caja-datos-cambiar grid flex">
            <div class="caja-inputs distancia-2em">
              <p class="pes">Nombre: {{account.name}}</p>
              <p class="pes">Apellido:{{account.cognom}}</p>
              <p class="pes">Email:{{account.mail}}</p>
              <p class="pes  distancia-1em">Centro: {{account.option}}</p>
              <div class="flex">
                <button class="boton-cambiar-contra" (click)="changePassword()">Cambiar Contrasena</button>
              </div>
            </div>
          </div>
        </div>

        <div class="caja-derecha">
          <app-listar-rankings class="caja-ranking"></app-listar-rankings>

          <div class="caja-ranking-iconos flex">

            <div class="iconos anadir">
              <a ></a>
            </div>
            <div class="iconos editar">
              <a [routerLink]="['/pagina']"></a>
            </div>
            <div class="iconos borrar">
              <a ></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
