.hiper-link {
  color: rgb(46, 44, 44);
  font-size: large;
}

.parte-arriba {
  caret-color: transparent;
}
.caja-extras {
  caret-color: transparent;
}

.distancia-05em {
  padding-bottom: 0.5em;
}
.distancia-1em {
  padding-bottom: 1em;
}
.distancia-2em {
  padding-bottom: 2em;
}

.distancia-3em {
  padding-bottom: 3em;
}

.caja-izquierda {
  padding: 10px 10px 10px 10px;
}

.caja-derecha {
  padding: 10px 10px 10px 10px;
}

.caja-principal {
  background-color: rgba(255, 255, 255, 0.966);
}

.caja-foto-nombre {
  caret-color: transparent;
  background-color: rgba(13, 160, 245, 0.411);
}

.caja-ranking {
  overflow: hidden;
  display: grid;
  background-color: rgba(13, 160, 245, 0.411);
  box-shadow: 3px 3px 3px 3px rgba(39, 25, 25, 0.877);
  border-radius: 20px;
}

.caja-ranking-iconos {
  caret-color: transparent;
  background-color: rgba(13, 160, 245, 0.411);
  box-shadow: 3px 3px 3px 3px rgba(39, 25, 25, 0.877);
  border-radius: 20px;
}
.caja-datos-cambiar {
  padding-top: 2em;
  background-color: rgba(13, 160, 245, 0.411);
}
.caja-inputs {
  display: grid;
  gap: 0.5em;
  width: 96%;
}

.pes {
  color: #202124;
  margin: 0.1em 1em 0em 1em;
  z-index: 1;
}

.caja-nombre p {
  text-transform: uppercase;
}

/*ICONOS DE DEBAJO DE RANKINGS EN LOS CUALES SE PARCIPA:*/
.iconos {
  margin: 0 1em 0 1em;
  min-height: 40px;
  min-width: 40px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease;
}

.anadir {
  background-image: url(../../assets/add-circle-outline.png);
}
.anadir:hover {
  background-image: url(../../assets/add-circle.png);
}
.editar {
  background-image: url(../../assets/edit-2-outline.png);
}
.editar:hover {
  background-image: url(../../assets/edit-2.png);
}
.borrar {
  background-image: url(../../assets/delete-bin-line.png);
}
.borrar:hover {
  background-image: url(../../assets/delete-bin-5-line.png);
}

.boton-cambiar-contra {
  padding: 0.6em;
  border-radius: 4px;
  opacity: 1;
}
.boton-cambiar-contra:hover {
  opacity: 0.9;
}

.caja-principal {
  transition: all 0.5s ease;
}
.caja-izquierda,
.caja-derecha,
.caja-foto,
.caja-ranking,
.caja-ranking-iconos {
  transition: all 0.3s ease;
}

.distancia-1em-top {
  margin-top: 1em;
}

/*MEDIA PARA RESPONSIVE:*/
@media (min-width: 320px) {
  .total {
    width: 55vh;
  }
  .caja-principal {
    display: grid;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 55vh;
    height: 80vh;
  }
  .caja-izquierda {
    justify-self: left;
    position: absolute;
    border-radius: 16px;
  }
  .caja-derecha {
    justify-self: right;
  }

  .caja-foto-nombre {
    width: 98%;
    height: 49.5%;
    display: grid;
    box-shadow: 3px 3px 3px 3px rgba(39, 25, 25, 0.699);
    border-radius: 15px;
    margin-bottom: 0.6em;
  }

  .caja-datos-cambiar {
    width: 98%;
    height: 49.5%;
    box-shadow: 3px 3px 3px 3px rgba(39, 25, 25, 0.699);
    border-radius: 15px;
  }

  .caja-foto {
    width: 18vh;
    height: 18vh;
    margin-left: 0.4em;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }
  .caja-nombre {
    width: 20vh;
    height: 7vh;
    display: grid;
    justify-items: center;
    border-radius: 5px;
  }
  .caja-ranking {
    width: 100%;
    height: 82%;
    margin-bottom: 0.7em;
  }
  .caja-ranking-iconos {
    width: 100%;
    height: 15%;
  }
  .pes {
    font-size: 17px;
  }
}

@media (min-width: 220px) and (max-width: 320px) {
  .total {
    width: 40vh;
  }
  .caja-principal {
    display: grid;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 40vh;
    height: 80vh;
  }
  .caja-izquierda {
    display: inline-flex;
    width: inherit;
    height: 40vh;
  }

  .caja-derecha {
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }
  .caja-foto-nombre {
    width: 50%;
    height: 98%;
  }

  .caja-datos-cambiar {
    width: 50%;
    height: 98%;
  }

  .caja-foto {
    margin-left: 0.1em;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 18vh;
    height: 18vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }
  .caja-nombre {
    margin-left: 0.1em;
    width: 18vh;
    height: 7vh;
    display: grid;
    justify-items: center;
    border-radius: 5px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .total {
    width: 45vh;
  }
  .caja-principal {
    width: 45vh;
  }
  .caja-izquierda {
    display: inline-flex;
    width: inherit;
    height: 40vh;
  }

  .caja-derecha {
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }

  .caja-foto-nombre {
    width: 48%;
    height: 100%;
  }

  .caja-datos-cambiar {
    width: 48%;
    height: 100%;
    margin-left: 1em;
  }
  .pes {
    font-size: 18px;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .total {
    width: 51vh;
  }
  .caja-principal {
    width: 51vh;
  }
  .caja-izquierda {
    display: inline-flex;
    width: inherit;
    height: 40vh;
  }

  .caja-derecha {
    width: inherit;
    height: 40vh;
    align-self: flex-end;
  }

  .caja-foto-nombre {
    width: 48%;
    height: 100%;
  }

  .caja-datos-cambiar {
    width: 48%;
    height: 100%;
    margin-left: 1em;
  }
  .pes {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 801px) {
  .total {
    width: 62vh;
  }
  .caja-principal {
    width: 62vh;
  }
  .caja-izquierda {
    width: 24.8vh;
    height: inherit;
  }
  .container .caja-derecha {
    width: 37.2vh;
    height: inherit;
  }

  .caja-ranking {
    width: 36.4vh;
    height: 66.5vh;
    margin-bottom: 0.7em;
  }
  .caja-ranking-iconos {
    height: 90px;
  }
  .pes {
    font-size: 20px;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .total {
    width: 64vh;
  }
  .caja-principal {
    width: 64vh;
  }

  .caja-izquierda {
    width: 26.6vh;
    height: inherit;
    position: absolute;
  }
  .caja-derecha {
    width: 38.4vh;
    height: inherit;
  }

  .caja-foto {
    width: 22vh;
    height: 22vh;
    margin-left: 0.4em;
    border-radius: 50%;
  }

  .caja-nombre {
    margin-left: 0.8em;
  }

  .iconos {
    margin: 0 2em 0 2em;
    min-height: 50px;
    min-width: 50px;
  }
  .caja-ranking {
    width: 36.4vh;
    height: 60vh;
    margin-bottom: 0.7em;
  }
  .caja-ranking-iconos {
    width: 36.4vh;
    height: 16.5vh;
  }
  .pes {
    font-size: 20px;
  }
}

@media (min-width: 980px) and (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .total {
    width: 100vh;
  }

  .caja-principal {
    width: 100vh;
  }
  .caja-izquierda {
    width: 44vh;
  }
  .caja-derecha {
    width: 57vh;
  }
  .caja-ranking {
    width: 55vh;
    height: 60vh;
    margin-bottom: 0.7em;
  }
  .caja-ranking-iconos {
    width: 55vh;
    height: 16vh;
  }

  .caja-foto {
    width: 26vh;
    height: 26vh;
    margin-left: 0.4em;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }

  .caja-nombre {
    margin-left: 2em;
  }
  .pes {
    font-size: 22px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .total {
    width: 105vh;
  }

  .pes {
    font-size: 22px;
  }
  .caja-principal {
    width: 105vh;
    height: 80vh;
  }
  .caja-izquierda {
    width: 42vh;
  }
  .caja-derecha {
    width: 63vh;
  }

  .caja-ranking {
    width: 61vh;
    height: 60vh;
  }
  .caja-ranking-iconos {
    width: 61vh;
    height: 16.5vh;
  }
  .caja-foto {
    width: 28vh;
    height: 28vh;
    margin-left: 0.4em;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }

  .caja-nombre {
    margin-left: 2.6em;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

  .total {
    width: 130vh;
  }

  .caja-principal {
    width: 130vh;
    height: 80vh;
  }

  .caja-izquierda {
    width: 52vh;
  }

  .caja-derecha {
    width: 78vh;
  }

  .caja-ranking {
    width: 76vh;
    height: 60vh;
  }
  .caja-ranking-iconos {
    width: 76vh;
    height: 16.5vh;
  }
}
