<div class=" caja">
  <div class="flex">
    <img class="logo" src=" ../../assets/logo_negro.png">
  </div>

  <br><br>
  <br><br>
  <br><br>
  <h1 class="flex">Conectate</h1>
  <br>
  <h4 class="flex">Utiliza una Cuenta Goat</h4>
  <br> <br>

  <div class="caja-input">
    <!--[(ngModel)]="email"-->
    <div class="flex">
      <input class="inputs" type="email" name="email" minlength="10" maxlength="30" placeholder="Introduzca su Email"
        required="required" />
    </div>
  </div>
  <br> <br>
  <br> <br>
  <div class="caja-extras flex">
    <div class="flex olvidado">
      <a href="">Crea una cuenta</a>
    </div>
    <div class="flex espacio">
    </div>
    <div class="flex boton-seguir">
      <button>Siguiente</button>
    </div>
  </div>

</div>
