<!--
  <div class="flex distancia-1em-top">
  <div class="caja">
    <app-header></app-header>
    <div class="contenido">
      <h2 class="pNombre">Nombre Ranking</h2>
      <div class="nombreRanking">
        <input type="text" class="nomRanking" placeholder="Nombre">
      </div>
      <div class="cajaBtn">
        <button class="btn">SIGUIENTE</button>
      </div>
    </div>
  </div>
</div>
-->
<div class="flex distancia-2em-top">
  <div class="caja-principal flex">
    <div class="caja-router flex grid">
      <div class="caja">
        <div class="parte-arriba grid">
          <div class="flex distancia-1em">
            <img class="logo distancia-5em" src=" ../../assets/logo_negro.png" />
          </div>
          <h1 class="flex distancia-05em">Nuevo Ranking</h1>
          <h3 class="flex distancia-1em">Crea un Ranking</h3>
        </div>
        <div class="flex grid caja-imputs distancia-1-5em-top">
          <input type="text" placeholder="escribe el nombre del ranking">
          <div class=" boton-seguir">
            <button class="boton-siguiente boton-siguiente-extra " >
              CREAR RANKING
            </button>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
