<div class="total">
<div class="bloquePrincipal grid">
  <app-header></app-header>
  <div class="titulo-ranking">
    <h2></h2>
    </div>
  <div class="caja-bolitas">
    <div class="caja-datos-foto flex">
      <div class="caja-usuario-linea">
      <div class="usuario"></div>
      <div class="linea-horizontal"></div>
    </div>
      <ul class="caja-listado">
        <h2 class="titulo-listado">
          Posicion: 1
        </h2>
        <div class="info-extra-listado">
        <p>@georgeboran</p>
        <p>+2 Posiciones</p>
      </div>
      </ul>
    </div>

    <div class="caja-datos-foto flex">
      <div class="usuario"></div>
      <div class="linea-horizontal"></div>
      <ul class="caja-listado">
        <h2 class="titulo-listado ">
          Posicion: 2
        </h2>
        <div class="info-extra-listado">
        <p>@willyrex</p>
        <p>-1 Posiciones</p>
      </div>
      </ul>
    </div>

    <div class="caja-datos-foto flex">
      <div class="usuario"></div>
      <div class="linea-horizontal"></div>
      <ul class="caja-listado">
        <h2 class="titulo-listado">
          Posicion: 3
        </h2>
        <div class="info-extra-listado">
        <p>@juanjo</p>
        <p>-1 Posiciones</p>
      </div>
      </ul>
    </div>

    <div class="caja-datos-foto flex">
      <div class="usuario"></div>
      <div class="linea-horizontal"></div>
      <ul class="caja-listado">
        <h2 class="titulo-listado">
          Posicion: 4
        </h2>
        <div class="info-extra-listado">
        <p>@malono</p>
        <p>+3 Posiciones</p>
      </div>
      </ul>
    </div>
    <div class="caja-datos-foto flex">
      <div class="usuario"></div>
      <div class="linea-horizontal"></div>
      <ul class="caja-listado">
        <h2 class="titulo-listado">
          Posicion: 4
        </h2>
        <div class="info-extra-listado">
        <p>@malono</p>
        <p>+3 Posiciones</p>
      </div>
      </ul>
    </div>
  </div>
</div>
</div>
