<div class="total">
  <app-header></app-header>

  <div class="bloquePrincipal grid">
    <div class="titulo-ranking">
      <h1>ranking name</h1>
    </div>

    <div class="caja-datos-foto flex">
      <div class="caja-usuario">
        <div class="usuario flex">
          <img class="usuario-foto" src="../../../assets/gato.jpg">
        </div>
      </div>

      <ul class="caja-listado grid">
        <h2 class="titulo-listado">
          Posicion: 1
        </h2>
        <div class="info-extra-listado ">
          <p>@georgeboran</p>
          <p>+2 Posiciones</p>
        </div>
      </ul>
    </div>

    <div class="caja-boton-atras">
      <div class="boton flex" (click)="volverTop()">
        <img src="../../../assets/ic_expand_less_18px.png">
      </div>
    </div>
  </div>
</div>
