/*MEDIA PARA RESPONSIVE:*/
@media (min-width: 320px) {
  .caja {
    display: grid;
    margin-top: 6em;
    padding-top: 1em;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 50vh;
    height: 80vh;
    position: absolute;
    transition: width 0.5s ease;
  }
  .caja-router {
    height: 70vh;
    width: 45vh;
    border-radius: 20px;
    background-color: rgba(247, 207, 132, 0.699);
    box-shadow: 4px 4px 4px 4px rgb(172, 163, 148);
    transition: width 0.5s ease;
  }
  .caja-barra {
    justify-self: center;
    width: 35vh;
    height: 5vh;
  }
  .barra-progreso {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 220px) and (max-width: 300px) {
  .caja {
    display: grid;
    margin-top: 6em;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 40vh;
    height: 80vh;
    position: absolute;
    transition: width 0.5s ease;
  }

  .caja-router {
    height: 70vh;
    width: 35vh;
    transition: width 0.5s ease;
    box-shadow: 4px 4px 4px 4px rgba(206, 201, 201, 0.877);
  }
  .caja-barra {
    justify-self: center;
    width: 30vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .caja {
    width: 40vh;
  }
  .caja-router {
    width: 35vh;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
}

@media (min-width: 600px) and (max-width: 801px) {
  .caja {
    width: 60vh;
  }
  .caja-router {
    height: 70vh;
    width: 55vh;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .caja {
    width: 60vh;
    height: 80vh;
  }
  .caja-router {
    height: 70vh;
    width: 55vh;
  }
}

@media (min-width: 900px) and (max-width: 912px) {
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .caja {
    height: 80vh;
    width: 100vh;
  }
  .caja-router {
    height: 70vh;
    width: 95vh;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .caja {
    width: 110vh;
    height: 80vh;
  }
  .caja-router {
    height: 70vh;
    width: 105vh;
  }
}
