* {
  font-family: Aldrich, sans-serif;
  scroll-behavior: smooth;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Flex para centrar elementos: */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
