* {
  scroll-behavior: smooth;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--montserrat);
}
:root {
  --montserrat: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Flex para centrar elementos: */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BOTON SIGUIENTE Y SUS EFECTOS:*/
.boton-siguiente {
  text-transform: uppercase;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.boton-siguiente:hover {
  background-position: 100% 0;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.boton-siguiente:focus {
  outline: none;
}
.boton-siguiente.boton-siguiente-extra {
  background-image: linear-gradient(
    to right,
    #039153,
    #04f18b,
    #03b367,
    #05d37a
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.swal2-styled {
  background-color: #039153 !important;
}

.swal2-styled.swal2-cancel {
  background-color: rgb(197, 16, 16) !important;
}
