<div class="caja-principal flex">
  <div class="caja-router flex grid">
    <div class="caja">
      <div class="parte-arriba grid">
        <div class="flex distancia-1em">
          <img class="logo distancia-5em" src=" ../../assets/logo_negro.png" />
        </div>

        <div (click)="selectType()" class="boton-radio flex  distancia-15em-margin" style="display:{{ displays[0] }};">
          <input label="Alumno" type="radio" id="alumno" name="eleccion" value="alumno" checked>
          <input label="Profesor" type="radio" id="profesor" name="eleccion" value="profesor">
        </div>
        <h1 class="flex distancia-05em">Registrate</h1>
        <h3 class="flex distancia-1em">Crea una Cuenta Goat</h3>
      </div>
      <div class="caja-input">
        <div class="flex grid">
          <input class="inputs distancia-input-04em" type="email" name="mail" [(ngModel)]="mail"
            placeholder="Introduzca su Email" style="display:{{ displays[0] }};" />

          <div class="caja-imagen-usuario" style="display: {{displays[1]}};" (click)="imgClick()">
            <div class="boton-subir flex">
              <img class="flex imagen-subir" src="../../../assets/cloud-upload.png">
            </div>

            <img class="imagen-usuario distancia-1em-margin flex" src="{{ img }}" id="icon" alt="User Icon"
              style="width: 100%; height: 100%; object-fit: cover; display:{{displays[1]}};" />
          </div>

          <input type="file" id="inputIMG" (change)="capturarFile($event)" style="display:none;" />
          <input class="inputs distancia-input-04em" type="text" name="username" [(ngModel)]="username"
            placeholder="Introduzca su Username" style="display:{{ displays[1] }};" />

          <input class="inputs distancia-input-04em" type="{{showPassword}}" name="password" [(ngModel)]="password"
            placeholder="Password" style="display:{{ displays[2] }};" />
          <input class="inputs" type="{{showPassword}}" name="repassword" [(ngModel)]="repassword"
            placeholder="Confirm Password" style="display:{{ displays[2] }};" />

          <input class="inputs distancia-input-04em" type="text" name="name" [(ngModel)]="name" placeholder="Name"
            style="display:{{ displays[3] }};" />
          <input class="inputs" type="text" name="cognom" [(ngModel)]="cognom" placeholder="Subname"
            style="display:{{ displays[3] }};" />

          <div *ngIf="alumno; else isProfesor">
            <input class="inputs distancia-input-04em" type="text" name="centro" [(ngModel)]="centro"
              placeholder="Centro" style="display:{{ displays[4] }};" />
          </div>

          <ng-template #isProfesor>
            <input class="inputs distancia-input-04em" type="date" name="fecha" [(ngModel)]="fecha" placeholder="Fecha"
              style="display:{{ displays[4] }};" />
          </ng-template>
        </div>
      </div>
      <div class="flex boton-seguir">
        <button class="boton-siguiente boton-siguiente-extra " (click)="next()">
          Siguiente
        </button>
      </div>

    </div>
    <div>
      <div class="flex loguear distancia-05em">
        <p class="hiper-link distancia-05em">
          Ya tienes cuenta? <a [routerLink]="['/login']" class="color">Conectate</a>
        </p>
      </div>
      <div class="caja-barra flex">
        <p style="position:absolute"><b>{{progreso}}%</b></p>
        <progress class="barra-progreso" id="progreso" value="{{ progreso }}" max="100"></progress>
      </div>
    </div>
  </div>
</div>
