<div class=" caja">
  <div class="parte-arriba">
    <div class="flex">
      <img class="logo" src=" ../../assets/logo_negro.png">
    </div>
    <br>
    <h1 class="flex distancia-05em">Registrate</h1>
    <h3 class="flex distancia-3em">Crea una Cuenta Goat</h3>
  </div>
  <div class="caja-input">
    <!--[(ngModel)]="email"-->
    <div class="flex distancia-1em">
      <input class="inputs" type="email" name="email" minlength="10" maxlength="30" placeholder="Introduzca su Email"
        required="required" />
    </div>
  </div>
  <div class="flex boton-seguir">
    <a href="/">
      <button class="boton-siguiente boton-siguiente-extra">Siguiente
      </button>
    </a>
  </div>
  <div class="flex loguear">
    <p class="hiper-link">Ya tienes cuenta?<a [routerLink]="['/login']" class="color"> Conectate</a></p>
  </div>
  <br>
  <div class="caja-barra flex">
    <progress class="barra-progreso" id="progreso" value="{{progreso}}" max="100">
    </progress>
  </div>
</div>
