.hiper-link {
  color: rgb(46, 44, 44);
  font-size: large;
}

.parte-arriba {
  caret-color: transparent;
}
.caja-extras {
  caret-color: transparent;
}

.distancia-05em {
  padding-bottom: 0.5em;
}
.distancia-1em {
  padding-bottom: 1em;
}
.distancia-2em {
  padding-bottom: 2em;
}

.distancia-3em {
  padding-bottom: 3em;
}
.grid {
  display: grid;
}
.distancia-input-04em {
  margin-bottom: 0.4em;
}
.caja-imagen-usuario {
  justify-self: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: -2.4em;
  margin-bottom: 0.4em;
}

.imagen-usuario {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.parte-abajo {
  justify-self: flex-end;
}
/*MEDIA PARA RESPONSIVE:*/
@media (min-width: 320px) {
  .caja-router {
    align-items: flex-start;
    padding: 1em 2em 2em 2em;
    height: 80vh;
    width: 45vh;
    border-radius: 20px;
    background-color: rgba(247, 207, 132, 0.699);
    box-shadow: 4px 4px 4px 4px rgb(172, 163, 148);
    transition: width 0.5s ease;
  }
  .caja-principal {
    display: grid;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 50vh;
    height: 90vh;
    transition: width 0.5s ease;
  }
  .caja {
    height: 65vh;
  }
  .espacio {
    width: 100px;
  }
  .olvidado {
    justify-self: left;
  }

  /*Logo:*/
  .logo {
    justify-self: auto;
    padding-top: 0.6em;
    width: 160px;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease;
  }
  .inputs {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 48px;
    width: 220px;
    padding: 13px 15px;
    z-index: 1;
    display: inline-flex;
  }

  .caja-barra {
    width: 100%;
    height: 5vh;
  }

  .barra-progreso {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 220px) and (max-width: 300px) {
  .caja-router {
    align-items: flex-start;
    height: 80vh;
    width: 35vh;
    transition: width 0.5s ease;
    box-shadow: 4px 4px 4px 4px rgba(206, 201, 201, 0.877);
  }
  .caja-principal {
    display: grid;
    background-color: wheat;
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.877);
    border-radius: 20px;
    width: 40vh;
    height: 90vh;
    transition: width 0.5s ease;
  }
  .caja {
    height: 65vh;
  } /*Logo:*/
  .logo {
    width: 160px;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease;
  }
  .espacio {
    width: 20px;
  }
  .caja-barra {
    justify-self: center;
    width: 100%;
    height: 5vh;
  }
  .barra-progreso {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .caja-router {
    width: 35vh;
  }
  .caja-principal {
    width: 40vh;
  }
  .logo {
    width: 180px;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .logo {
    width: 200px;
  }
  .espacio {
    width: 120px;
  }
}

@media (min-width: 600px) and (max-width: 801px) {
  .caja-router {
    width: 55vh;
  }

  .caja-principal {
    width: 60vh;
  }
  .logo {
    width: 220px;
  }
  .espacio {
    width: 200px;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .caja-router {
    width: 55vh;
  }
  .caja-principal {
    width: 60vh;
  }
  .logo {
    width: 260px;
  }
  .espacio {
    width: 220px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .caja-router {
    width: 95vh;
  }
  .caja-principal {
    width: 100vh;
  }
  .logo {
    width: 280px;
  }
  .espacio {
    width: 260px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .caja-router {
    width: 105vh;
  }
  .caja-principal {
    width: 110vh;
  }
  .logo {
    width: 300px;
  }
  .espacio {
    width: 280px;
  }
}
