.hiper-link {
  color: rgb(0, 0, 0);
  font-size: large;
}

.parte-arriba {
  caret-color: transparent;
}

.caja-extras {
  caret-color: transparent;
}

.distancia-05em {
  padding-bottom: 0.5em;
}

.distancia-1em {
  padding-bottom: 1em;
}

.distancia-2em {
  padding-bottom: 2em;
}

.distancia-3em {
  padding-bottom: 3em;
}

.grid {
  display: grid;
}

.distancia-input-04em {
  margin-bottom: 0.4em;
}

/*MEDIA PARA RESPONSIVE:*/
@media (min-width: 320px) {
  .caja-router {
    height: fit-content;
    height: 80vh;
    width: 45vh;
    border-radius: 20px;
    background-color: rgba(13, 160, 245, 0.295);
    box-shadow: 4px 4px 4px 4px rgba(46, 47, 48, 0.88);
    transition: width 0.5s ease;
  }
  .caja-principal {
    display: grid;
    background-color: rgba(233, 234, 236, 0.829);
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.959);
    border-radius: 20px;
    width: 50vh;
    height: 90vh;
    transition: width 0.5s ease;
  }
  .caja {
    height: 65vh;
  }
  .espacio {
    width: 100px;
  }
  .olvidado {
    justify-self: left;
  }
  /*Logo:*/
  .logo {
    padding-top: 0.6em;
    width: 160px;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease;
  }
  .inputs {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    height: 48px;
    width: 220px;
    padding: 13px 15px;
    z-index: 1;
  }
}

@media (min-width: 220px) and (max-width: 300px) {
  .caja-router {
    height: 80vh;
    width: 35vh;
    transition: width 0.5s ease;
    background-color: rgba(13, 160, 245, 0.295);
    box-shadow: 4px 4px 4px 4px rgba(46, 47, 48, 0.88);
  }
  .caja-principal {
    display: grid;
    background-color: rgba(233, 234, 236, 0.829);
    box-shadow: 9px 9px 9px 9px rgba(39, 25, 25, 0.959);
    border-radius: 20px;
    width: 40vh;
    height: 90vh;
    transition: width 0.5s ease;
  }
  .caja {
    height: 65vh;
  } /*Logo:*/
  .logo {
    width: 160px;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease;
  }
  .espacio {
    width: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .caja-router {
    width: 35vh;
  }
  .caja-principal {
    width: 40vh;
  }
  .logo {
    width: 180px;
  }
}

@media (min-width: 480px) and (max-width: 600px) {
  .logo {
    width: 200px;
  }
  .espacio {
    width: 120px;
  }
}

@media (min-width: 600px) and (max-width: 801px) {
  .caja-router {
    width: 55vh;
  }
  .caja-principal {
    width: 60vh;
  }
  .logo {
    width: 220px;
  }
  .espacio {
    width: 200px;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .caja-router {
    width: 55vh;
  }
  .caja-principal {
    width: 60vh;
  }
  .logo {
    width: 260px;
  }
  .espacio {
    width: 220px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */

  .caja-router {
    width: 95vh;
  }
  .caja-principal {
    width: 100vh;
  }
  .logo {
    width: 280px;
  }
  .espacio {
    width: 260px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .caja-router {
    width: 105vh;
  }
  .caja-principal {
    width: 110vh;
  }
  .logo {
    width: 300px;
  }
  .espacio {
    width: 280px;
  }
}
